[Unit]
Description=Lufi (Mojolicious)
After=network.target

[Service]
Type=forking
User=lufi
Group=lufi
WorkingDirectory=/srv/lufi
Environment=MOJO_MODE=production
ExecStart=/bin/bash -lc 'cd /srv/lufi && /usr/local/bin/carton exec hypnotoad script/lufi'
ExecStop=/bin/bash -lc 'cd /srv/lufi && /usr/local/bin/carton exec hypnotoad -s script/lufi'
PIDFile=/srv/lufi/hypnotoad.pid
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target

